.container{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.page{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
}
.one{
    background-image:url('img/one.jpg');
    background-size:cover;
    /* background-attachment:fixed; */
    top:0;
}
.two {
    background-image: url('img/two.jpg');
    background-size: cover;
    background-attachment:fixed;
    top:100%;
}
.three {
    background-image: url('img/three.jpg');
    background-size: cover;
    /* background-attachment:fixed; */
    top:200%;
}
.four {
    background-image: url('img/four.jpg');
    background-size: cover;
    background-attachment:fixed;
    top:300%;
}